:root {
  --primary-color: #0E71C2;
  --primary-color-dark: #05477E;
  --primary-color-opacity: rgba(14, 113, 194, .5);
  --popup-background: rgba(0, 0, 0, .9);
  --gray-light: #FBFBFB;
  --gray-dark: #999;
  --error: #EB564F;
  --system-black: #000;
  --system-white: #fff;
}