@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../assets/fonts/Roboto-Light.woff2') format('woff2'),
  url('../assets/fonts/Roboto-Light.woff') format('woff'),
  url('../assets/fonts/Roboto-Light.ttf') format('truetype'),
  url('../assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'),
  url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
  url('../assets/fonts/Roboto-Regular.woff') format('woff'),
  url('../assets/fonts/Roboto-Regular.ttf') format('truetype'),
  url('../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
