.main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 0 auto;
  padding: 48px 18px 72px;
}

.filterBlock {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.filterText {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--system-black);
  margin: 0;
}

.moreButton {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--system-black);
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  border-radius: 8px;
  background-color: var(--system-white);
  margin: 0;
  padding: 10px 48px;
  cursor: pointer;
  transition: .2s linear;

  &:hover, &:focus {
    color: var(--primary-color);
    outline: none;
  }
  &:active {
    color: var(--primary-color-dark);
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
  }
}
.informText {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 300;
  color: var(--gray-dark);
  margin: 0;
}

@media (max-width: 530px) {
  .filterBlock {
    max-width: 250px;
    align-self: center;
  }
}