.card {
  max-width: 340px;
  width: 100%;
  background-color: var(--system-white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  margin: 0 auto;
  transition: .3s linear;
}

.imageWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.figcaption {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 12px 16px;
}
.photographer {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--system-black);
  text-decoration: none;
  transition: .2s linear;

  &:hover {
    color: var(--primary-color);
  }
  &:focus {
    outline: none;
    color: var(--primary-color);
  }
}
.caption {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
  color: var(--system-black);
  text-align: left;

  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}
.iconsBlock {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}
.icon {
  color: var(--gray-dark);
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transform: scale(1);
  transition: .2s linear;

  &:hover {
    transform: scale(1.15);
    color: var(--primary-color);
  }
  &:focus {
    color: var(--primary-color);
    outline: none;
  }
  &:active {
    transform: scale(1);
  }
}
.isLiked {
  color: var(--primary-color);
  & svg {
    fill: var(--primary-color);
  }
}