.loader {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
  padding: 12px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  width: 20px;
  height: 20px;
  border: .2em solid transparent;
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: 1s spinner linear infinite;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -.2em;
    left: -.2em;
    border: .2em solid var(--primary-color-opacity);
    border-radius: 50%;
    opacity: .5;
  }
}

.text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: var(--system-black);
  margin: 0;
}